<!-- Footer -->
<footer class="footer mt-auto py-4 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum a felis at nulla placerat commodo ac nec odio.</p>
      </div>
      <div class="col-md-4">
        <h5>Opening Hours</h5>
        <ul class="list-unstyled">
          <li>Monday - Friday: 9:00 AM - 10:00 PM</li>
          <li>Saturday - Sunday: 10:00 AM - 11:00 PM</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <ul class="list-unstyled">
          <li>Email: info@burgershop.com</li>
          <li>Phone: +1 123-456-7890</li>
          <li>Address: 1234 Burger Street, City, Country</li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <!-- Add social media icons or links here -->
      </div>
      <div class="col-md-6">
        <p class="text-end">© 2023 Burger Shop. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
